:root{
    --button-green: #108a00;
    --letter-green: #14a800;
    --letter-greenLight: #91e6b3;
    --letter-dark: #5e6d55;
    --letter-light: #9aaab2;
    --letter-white: white;
    --card-light: #f7faf7;
}
*{
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
}
h2{
    font-family: 'Cardo', serif;
    font-size: 2.3rem;
    font-weight: 100;
}
p{
    font-size: 1.15rem;
}
body{
    margin: 0;
    padding: 0;
}
/* JS classes */
.hidden{
    overflow: hidden;
}
/* *********************** */
header nav{
    position: fixed;
    width: 100%;
    background-color: white;
    height: 65px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d9d9d9;
}
header nav .logo{
    width: 140px;
    margin-left: 42px;
}
header .bigScreen-nav{
    display: none;
}
.mobile-nav{
    width: 100%;
    display: flex;
    justify-content: end;
}
.mobile-nav .hamburger{
    position: absolute;
    top: 21px;
    left: 15px;
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-nav .hamburger div{
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 2px;
    border-radius: 3px;
    transition: all 0.3s;
}
.mobile-nav input[type = "checkbox"]{
    position: fixed;
    top: 15px;
    left: 10px;
    width: 30px;
    height: 30px;
    z-index: 2;
    opacity: 0;
}
.mobile-nav input:checked + .hamburger .ham1{
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
}
.mobile-nav input:checked + .hamburger .ham2{
    display: none;
}
.mobile-nav input:checked + .hamburger .ham3{
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
}
.mobile-nav input:checked ~ .side-bar{
    transform: translateX(0);
}
/* Side Bar Starts */
.mobile-nav .side-bar{
    position: fixed; 
    top: 65px;
    left: 0;
    background-color: white;
    height: calc(100vh - 65px);
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s;
}
.mobile-nav .side-bar .menu-list{
    overflow-y: auto;
    height: calc(100vh - 145px);
}
header .side-bar .sub-head{
    padding: 25px 30px 25px 25px;
    display: flex;
    justify-content: space-between;
}
header .side-bar .sub.active .sub-sel{
    height: 100%;
}
header .side-bar .sub.active .sub-head .fa-caret-down{
    transform: rotate(180deg);
}
header .side-bar .sub.active .sub-head{
    background-color: #c6c6c6;
}
header .side-bar .sub-head .fa-caret-down{
    transition: 0.3s;
}
header .side-bar .sub-sel{
    padding-left: 40px;
    height: 0px;
    overflow: hidden;
    /* transition: 0.5s; */
}
header .side-bar .sub-sel p{
    font-size: 1.1rem;
}
header .side-bar .sign-up{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px grey;
}
header .side-bar .sign-up a{
    width: 90%;
    text-align: center;
    background-color: var(--button-green);
    padding: 8px;
    border-radius: 35px;
    color: white;
}
/* Side Bar ends */

.mobile-nav .sign-search{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.mobile-nav .sign-search i{
    font-size: 1.4rem;
}
/* Search bar page */
header .search-page{
    height: 100vh;
    width: 100%;
    display: none;
}
header .search-page .top-list{
    display: flex;
    gap: 25px;
    margin: 10px 20px;
    border-bottom: 2px solid #d9e3d9;
}
header .search-page .top-list p{
    padding-bottom: 5px;
    margin-bottom: -2px;
    /* border-bottom: 3px solid #22e222; */
}
header .header-links{
    display: none;
}
/* Header Intro */

header .intro{
    padding: 70px 15px 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 25px;
}
header .intro div:nth-child(1){
    width: 70%;
}
header .intro .img{
    display: none;
}
header .intro h2{
    font-size: 3.5rem;
    color: var(--letter-green);
    margin-top: 15px;
    margin-bottom: -10px;
}
header .intro p{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--letter-dark);
    margin-bottom: 45px;
}
header .intro a{
    font-size: 1.1rem;
    background-color: var(--button-green);
    padding: 10px 20px;
    border-radius: 25px;
    color: var(--letter-white);
}
header .trusted-by{
    margin-top: 20px;
    padding: 15px;
}
header .trusted-by p{
    color: var(--letter-light);
}
header .trusted-by .other-logos{
    display: flex;
    gap: 15px;
}
header .trusted-by .other-logos img{
    max-height: 55px;
}
/* Section 1 */
.section1{
    padding:0 15px;
}
.sec1-header h2{
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-family: 'Cardo', serif;
    font-weight: 100;
}
.sec1-body{
    padding-bottom: 30px;
}
.sec1-body .sec1-list{
    display: flex;
    align-items: baseline;
    gap: 15px;
}
.sec1-body p{
    font-size: 1.4em;
    margin: 10px 0;
}
.sec1-body span{
    display: block;
}
.sec1-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.sec1-buttons .sign-up{
    display: none;
    padding: 10px;
    background-color: var(--button-green);
    border-radius: 25px;
    color: white;
    width: 50%;
    text-align: center;

}
.sec1-buttons .hire{
    display: block;
    width: 95%;
    padding: 10px;
    text-decoration: none;
    color: var(--button-green);
    border-radius: 30px;
    border: 2px solid var(--button-green);
    text-align: center;
}
/* Section 2 */
.section2{
    padding: 20px 15px;
}
.section2 .sec2-header h2{
    font-family: 'Cardo', serif;
    font-size: 2.3rem;
    font-weight: 100;
}
.section2 .sec2-header p{
    color: var(--letter-dark);
}
.section2 .sec2-header a{
    color: var(--button-green);
    text-decoration: underline;
}
.section2 .sec2-body{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.section2 .sec2-body .sec2-list{
    width: 100%;
    background-color: var(--card-light);
    padding: 0 20px;
    border-radius: 7px;
}
.section2 .sec2-body .sec2-listSpan{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: -15px;
}
.section2 .sec2-body .sec2-listSpan p{
    color: var(--letter-dark);
}
.section2 .sec2-body .sec2-listSpan i{
    color: var(--letter-green);
    font-size: 0.9em;
}
.section2 .sec2-body .show-more{
    text-decoration: underline;
    color: var(--letter-green);
}
/* Section 3 */
.section3{
    background-color: #13544e;
}
.section3 .image{
    background: url(images/enterprise-suite-mobile.webp) center center/ cover;
    height: 300px;
}
.section3 .main{
    color: white;
    padding: 25px 15px;
}
.section3 .main h2 span{
    color: var(--letter-greenLight);
    font-family: 'Cardo', serif;
    display: block;
}
.section3 .main ul{
    margin-left: -35px;
}
.section3 .main li{
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 15px;
    padding-bottom: 10px;
    font-size: 1.15rem;
}
.section3 .main li i{
    color: var(--letter-greenLight);
}
.section3 .main a{
    background-color: var(--letter-white);
    color: #13544e;
    padding: 10px 25px;
    border-radius: 25px;
}
/* Section 4 */
.section4{
    margin-top: 60px;
    padding: 25px 15px;
    background: url(https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_scale/brontes/delivery-models/find-talent-mobile.jpg) no-repeat top/ cover;
    color: white;
}
.section4 .header h2{
    margin-top: 70px;
    font-size: 3rem;
}
.section4 .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.section4 .cards .card{
    width: 100%;
    background-color: var(--button-green);
    border-radius: 8px;
    padding: 15px;
    color: var(--letter-white);
}

.section4 .cards .card .sub{
    text-align: end;
}

/* Merged section */
.merged{
    display: flex;
    flex-direction: column;
}
/* Section 5 */
.section5{
    padding: 10px 15px 50px;
}
.section5 .body .content{
    display: flex;
    align-items: baseline;
    gap: 15px;
}
.section5 img{
    display: none;
}
/* Section 6 */
.section6 > div > p{
    font-size: 2.3rem;
}
.section6 > div:nth-child(1){
    padding: 25px 15px 70px;
    background-color: var(--letter-green);
    color: var(--letter-white);
}
.section6 .body{
    display: flex;
    align-items: baseline;
    gap: 15px;
}
.section6 .body p{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.section6 .body span{
    display: block;
    width: 55%;
}
.section6 > div:nth-child(2){
    padding: 30px 15px;
}
.section6 > div:nth-child(2) h2{
    padding-bottom: 25px;
}
.section6 > div:nth-child(2) a{
    padding: 10px 35px;
    background-color: var(--button-green);
    border-radius: 25px;
    color:var(--letter-white);
}
/* Sectio 7 */
.section7 .image{
    background: url(images/find-great-work.webp) no-repeat center center/ cover;
}
.section7 .main{
    width: 100%;
    padding: 2px 15px 25px;
    background-color: #1f57c3;
    color: var(--letter-white);
}
.section7 .main h2{
    font-size: 2.5rem;
}
.section7 .main > div:nth-child(1){
    padding-bottom: 70px;
    border-bottom: 3px solid #648aca;
}
.section7 .main > div:nth-child(2){
    padding: 15px 0;
}
.section7 .main > div:nth-child(2) div{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 35px;
}
.section7 .main > div:nth-child(2) span{
    width: 45%;
}
.section7 .main > div:nth-child(2) a{
    padding: 8px 25px;
    background-color: var(--letter-white);
    color: #1f57c3;
    border-radius: 25px;
    text-decoration: none;
}
/* Section 8 */
.section8{
   padding: 35px 15px; 
   /* overflow-x: hidden; */
}
.section8 h2{
    font-size: 3rem;
}
.section8 .carousels{
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    /* scroll-snap-align: start;
    scroll-behavior: smooth; */
}
.section8 .carousels::-webkit-scrollbar{
    display: none;
}
.section8 .carousels .common{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 260px;
    height: 510px;
    border-radius: 10px;
    padding: 15px;
    color: var(--letter-white);
}
.section8 .carousels .common .logo{
    display: flex;
    justify-content: center;
    /* max-height: 25px; */
}
.section8 .carousels .common img{
    width: 50%;
}
.section8 .carousels .common .quote{
    font-family: 'Cardo', serif;
    font-size: 1.4rem;
}
.section8 .carousels .common .name{
    color: #d4dfd4;
    font-weight: 600;
    margin-top: -10px;
}
.section8 .carousels .common .results{
    color: #d4dfd4;
    font-weight: 600;
    margin-top: 2.5rem;
    padding-bottom: 10px;
}
.section8 .carousels .common .bold1{
    margin-top: -5px;
    font-size: 1.5rem;
    font-weight: 500;
}
.section8 .carousels .common .grey1{
    color: #d4dfd4;
    font-weight: 600;
    margin-top: -10px;
}
.section8 .carousels .common .bold2{
    margin-top: -5px;
    font-size: 1.5rem;
    font-weight: 500;
}
.section8 .carousels .common .grey{
    color: #d4dfd4;
    font-weight: 600;
    margin-top: -10px;
}
.section8 .carousels .card1{
    background-color: #13544e;
}
.section8 .carousels .card1 .results{
    border-bottom: #83aea6 2px solid;
}
.section8 .carousels .card2{
    background-color: #bc511b;
}
.section8 .carousels .card2 .results{
    border-bottom: #c99d7e 2px solid;
}
.section8 .carousels .card3{
    background-color: #001e00;
    align-items: center;
    padding: 0;
}
.section8 .carousels .card3 .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.section8 .carousels .card3 .main div{
    width: 100%;
}
.section8 .carousels .card3 .image{
    display: none;
}
.section8 .carousels .card3 p{
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}
.section8 .support-ukraine{
    background-color: #f7faf7;
    border-radius: 25px;
    padding:1px 25px 35px 25px;
    position: relative;
}
.section8 .support-ukraine h2{
    width: 100%;
    margin-bottom: 0;
    margin-top: 1.5rem;
}
.section8 .support-ukraine p{
    margin-bottom: 5rem;
}
.section8 .support-ukraine a{
    padding: 7px 25px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid var(--button-green);
    color: var(--button-green);
}
.section8 .support-ukraine img{
    position: absolute;
    right: 40px;
    bottom: 0;

}
/* Section 9 */
.section9{
    padding: 25px 15px;
}
.section9 .overflow{
    display: flex;
    gap: 15px;
    overflow: auto;

}
.section9 .overflow::-webkit-scrollbar{
    display: none;
}
.section9 .overflow div{
    flex-shrink: 0;
    font-size: 1.5rem;
    color: var(--letter-light);
    margin-bottom: 25px;
}
.section9 .content1{
    display: inline-flex;
    gap: 15px;
    flex-direction: column;
    margin-right: 60px;
}
.section9 .content2{
    display: inline-flex;
    gap: 15px;
    flex-direction: column;
}
.section9 a{
    color: #5e6d7b;
}
/* Footer */
footer{
    margin: 15px;
    padding: 15px;
    background-color: #001e00;
    border-radius: 8px;
    color: white;
}
footer .accordion .top{
    padding: 20px 15px 20px 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
}
footer .accordion .top i{
    font-size: 1.3rem;
}
footer .accordion .top .fa-caret-down{
    transition: 0.3s;
}
footer .accordion .body{
    height: 0;
    overflow: hidden;
}
footer .accordion .body a{
    display: block;
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}
footer .sideBar-accordion.active .body{
    height: 100%;
    padding: 10px 0 25px 15px;
}
footer .sideBar-accordion.active .fa-caret-down{
    transform: rotate(180deg);
}
footer .sideBar-accordion.active .top{
    border: none;
}
footer .socials-app{
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 0.9rem;
}
footer .socials-app .socials{
    padding: 25px 0;
}
footer .socials-app .app{
    padding-bottom: 25px;
    
}
footer .socials-app .icons{
    display: flex;
    gap: 10px;
}
footer .socials-app .icons i{
    font-size: 1.5rem;
    /* padding: 10px; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
}
footer .footer-menu{
    display: flex;
    flex-wrap: wrap;
}
footer .footer-menu .menu{
    display: flex;
    flex-direction: column;
}

/* /////////////////////////////////////////////////////////////////// */
/* Media Queries */

@media screen and (max-width: 699px){
    .section7 .image{
        height: 420px;
    }
}
/* For Ipad */
@media screen and (min-width:700px) {
    header .intro{
        padding: 70px 25px 25px;
    }
    header .intro div:nth-child(1){
        width: 80%;
    }
    header .intro h2{
        font-size: 5.5rem;
        width: 100%;
    }
    header .intro p{
        font-size: 1.6rem;
        width: 70%;
    }
    header .intro .img{
        display: block;
        margin-top: 50px;
        width: 70%;
        /* max-width: 500px; */
    }
    header .intro .img img{
        width: 100%;
    }
    header .trusted-by{
        padding: 0 25px;
    }
    header .trusted-by p{
        font-size: larger;
    }
    header .trusted-by .other-logos img{
        width: 12%;
    }
    .section1, .section2, .section8, .section9{
        padding: 0 35px;
        /* font-size: larger; */
    }
    .sec1-header h2{
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .sec1-buttons{
        width: 60%;
        font-size: larger;
    }
    .sec1-buttons .sign-up{
        display: block;
    }
    .sec1-buttons .hire{
        width: 50%;
    }
    .section2{
        padding-bottom: 45px;
    }
    .section2 .sec2-header h2{
        font-size: 3rem;
    }
    .section2 .sec2-body{
        justify-content: space-between;
    }
    .section2 .sec2-body .sec2-list{
        width: 48%;
    }
    .section2 .sec2-body .show-more{
        display: none;
    }
    .section3{
        background-color: #13544e;
        margin: 0 35px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
    .section3 .image{
        width: 40%;
        height: auto;
        order: 1;
        background: url(images/enterprise-suite.webp) center center/ cover;
        border-radius: 0 25px 25px 0;
    }
    .section3 .main{
        width: 65%;
        padding: 35px 0 45px 45px;
        width: 55%;
    }
    .section3 .main h2{
        font-size: 3rem;
        margin: 15px 0;
        line-height: 50px;
    }
    .section4{
        background: url(https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_scale/brontes/delivery-models/find-talent-2x.jpg) no-repeat top/ cover;
        margin:45px 35px;
        border-radius: 10px;
        padding: 25px;
    }
    .section4 .header p{
        width: 50%;
    }
    .section4 .cards .card{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 15px;
    }
    .section4 .cards .card .top{
        font-size: 1.6rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .section4 .cards .card .sub{
        text-align: start;
        margin-top: 0;
    }
    .merged{
        z-index: -2;
        position: relative;
        flex-direction: row;
        justify-content: center;
        gap: 0;
        margin: 45px 35px;
    }
    .section5{
        background-color: #f2f7f2;
        margin: 0;
        border-radius: 10px;
        flex-basis: 800px;
    }
    .section5 h2{
        width: 90%;
        font-size: 3.5rem;
    }
    .section5 .content{
        width: 50%;
        font-size: 1.3rem;
    }
    .section5 .content p{
        font-size: 1.8rem;
    }
    .section5 .body img{
        display: block;
        position: absolute;
        top: 15%;
        left: 33%;
    }
    .section6{
        margin: 0;
    }
    .section6 > div:nth-child(1){
        border-radius: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .section6 > div:nth-child(2){
        display: none;
    }
    .section7{
        margin: 0 35px;
        background-color: green;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }
    .section7 .image{
        width: 45%;
    }
    .section7 .main{
        width: 55%;
        border-radius: 0 10px 10px 0;
    }
    .section7 .main h2{
        font-size: 5rem;
        margin: 25px 0;
    }
    .section8 h2{
        font-size: 5rem;
        width: 65%;
        /* font-weight: bold; */
    }
    .section8 .carousels .common{
        width: 47%;
        height: 590px;
    }
    .section8 .carousels .common .results{
        margin-top: 5rem;
    }
    .section8 .support-ukraine{
        padding: 1px 25px 45px 25px;
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
    }
    .section8 .support-ukraine h2{
        font-size: 3rem;
        margin: 35px 0 7px 0;
    }
    .section8 .support-ukraine p{
        width: 60%;
        margin-bottom: 3rem;
    }
    .section8 .support-ukraine a{
        padding: 10px 25px;
        font-size: larger;
        background-color: white;
        border-radius: 25px;
        border: 2px solid var(--button-green);
        color: var(--button-green);
    }
    .section8 .support-ukraine img{
        position: inherit;
        margin-top: 3rem;
    }
    .section9{
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    .section9 .overflow{
        flex-direction: column;
        overflow: hidden;
    }
    .section9 .overflow div{
        font-size: 2.3rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .section9 .content1{
        margin-right: 0;
    }
    .section9 a{
        font-size: 1.7rem;
    }
    footer{
        margin: 30px;
        padding: 40px 30px;
    }
    footer .accordion-container{
        display: flex;
        justify-content: space-between;
    }
    footer .accordion{
        width: 23%;
    }
    footer .accordion .top{
        padding: 20px 0;
        border-bottom: none;
    }
    footer .accordion .top .fa-caret-down{
        display: none;
    }
    footer .accordion .body{
        height: auto;
    }
    footer .accordion .body a{
        padding-bottom: 12px;
        line-height: 25px;
    }
    footer .socials-app {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    footer .footer-menu{
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 25px;
    }
    footer .footer-menu .menu{
        display: flex;
        gap: 25px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer .footer-menu .menu a{
        color: white;
    }
}

/* For Laptop Screens */

@media screen and (min-width:1000px){
    header nav{
        height: 75px;
        border-bottom: 1px solid #d9d9d9;
    }
    header nav .logo{
        width: 100px;
        margin-left: 0;
    }
    .mobile-nav{
        display: none;
    }
    /* Big Screen */
    header nav{
        padding-left: 25px;
    }
    header .bigScreen-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    header .bigScreen-menu{
        margin-left: 25px;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        gap: 20px;
    }
    header .bigScreen-menu > div a{
        color: black;
    }
    header .bigScreen-menu .sub-menu > .top{
        display: flex;
        align-items: baseline;
        gap: 10px;
        font-size: 0.9rem;
    }
    header .bigScreen-menu .sub-menu > .top p{
        font-size: 1rem;
    }
    header .sub-menu .sub{
        display: none;
    }

    /* Search bar div */
    .mobile-nav .sign-search{
        display: none;
    }
    header .bigScreen-nav .sign-search{
        display: flex;
        align-items: baseline;
        gap: 20px;
    }
    
    header .bigScreen-nav .sign-search > i{
        font-size: larger;
    }
    header .bigScreen-nav .sign-up{
        color: var(--letter-white);
        background-color: var(--button-green);
        padding: 13px 30px;
        border-radius: 30px;
        font-size: 0.95rem;
    }
    header .bigScreen-nav .search-drop{
        display: none;
    }

    /* Header Links */
    header .header-links{
        position: fixed;
        top: 75px;
        display: flex;
        align-items: baseline;
        padding-left: 25px;
        width: 100%;
        background-color: white;
    }
    header .header-links a, header .header-links .more{
        padding: 12px 10px;
    }
    header .header-links a{
        color: black;
    }
    header .header-links a:hover{
        color: var(--letter-green);
        text-decoration: underline;
    }
    header .header-links .more{
        display: flex; 
        align-items: baseline; 
        gap: 10px;
        font-size: 0.9rem;
    }
    header .header-links .more p{
        font-size: 1rem;
    }
    header .intro{
        padding-top: 140px;
    }

    /* BigScreenMenu Hover divs */

    
}
@media screen and (min-width:1200px){
    
    header .intro, header .trusted-by, .section1, .section2{
        padding-left: 60px;
        padding-right: 60px;
    }
    .section2 .sec2-header h2 {
        font-size: 4rem;
        margin-bottom: 5px;
    }
    .section2 .sec2-header{
        padding-bottom: 5px;
    }
    .section2 .sec2-body .sec2-list {
        width: 23%;
        height: 150px;
    }
    .section2 .sec2-body .sec2-list > p{
        font-size: 1.6rem;
        font-weight: bold;
    }
    .section3, .section4, .section7, .section8, .section9{
        margin-left: 60px;
        margin-right: 60px;
    }
    .section3 .image{
        width: 37%;
    }
    .section3 .main{
        width: 50%;
    }
    .section3 .main h2{
        font-size: 4.5rem;
        line-height: 70px;
    }
    .section4 > p{
        font-size: 1.7rem;
        margin-top: 5px;
    }
    .section4 .header h2{
        font-size: 6rem;
        letter-spacing: -3px;
        margin-bottom: 15px;
    }
    .section4 .header p{
        font-size: 1.5rem;
    }
    .section4 .cards .card .top{
        font-size: 2.3rem;
    }
    .section4 .cards .card .sub{
        font-size: 1.3rem;
    }
    .merged{
        margin-left: 60px;
        margin-right: 60px;
        gap: 45px;
    }
    .section8 .carousels .common{
        padding: 40px;
    }
    .section8 .carousels .card3{
        flex-direction: row;
        padding: 0;
    }
    .section8 .carousels .card3 .image{
        display: block;
        width: 40%;
        height: 100%;
        background: url(https://res.cloudinary.com/upwork-cloud-stage/image/upload/v1650909071/general/logobar/colored/company-logos-cover.jpg) no-repeat center center/ cover;
    }
    .section8 .carousels .card3 .main{
        padding: 40px;
    }
    .section8 .carousels .card3 .main{
        width: 60%;
    }
    .section8 .support-ukraine img{
        height: 9rem;
    }
}
@media screen and (min-width: 1225px) {
    header .bigScreen-nav .sign-search > i{
        display: none;
    }
    header .bigScreen-nav .search-drop .option{
        display: none;
    }
    header .bigScreen-nav .search-drop{
        width: 350px;
        border: 2px solid #e9e9e9;
        padding: 10px 15px;
        border-radius: 40px;
        display: flex;
    }
    header .bigScreen-nav .search-drop .search{
        width: 290px;
    }
    header .bigScreen-nav .search-drop .search input{
        width: 200px;
        outline: none;
        border: none;
        font-size: 1rem;
    }
    header .bigScreen-nav .search-drop .view-box{
        width: 100px;
        border-left: 1px solid #e9e9e9;
    }
}

@media screen and (min-width:1400px){
    header .intro, header .trusted-by, .section1, .section2{
        padding-left: 130px;
        padding-right: 130px;
    }
    .section3, .section4, .section7, .section8, .section9, .merged{
        margin-left: 130px;
        margin-right: 130px;
    }
}