:root{
    --button-green: #108a00;
    --letter-green: #14a800;
    --letter-greenLight: #91e6b3;
    --letter-dark: #5e6d55;
    --letter-light: #9aaab2;
    --letter-white: white;
    --card-light: #f7faf7;
}
*{
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
}
h2{
    font-family: 'Cardo', serif;
    font-size: 2.3rem;
    font-weight: 100;
}
body{
    margin: 0;
    padding: 0;
}
header nav{
    width: 100%;
    height: 60px;
    padding: 0 15px;
    padding-left: 55px;
    border-bottom: 2px solid #d9e3d9;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
header nav > div{
    display: flex;
    align-items: center;
    gap: 20px;
}
header nav .logo{
    width: 80px;
    height: 45px;
}
header nav .sign-search i{
    font-size: 1.3rem;
    font-weight: ;
}
header nav .sign-search a{
    color: black;
}

/* Side Bar for mobile */
.mobile-nav .hamburger{
    position: fixed;
    top: 17px;
    left: 15px;
    width: 26px;
    height: 26px;
    z-index: 1;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.mobile-nav .hamburger div{
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 2px;
    border-radius: 3px;
    transition: all 0.3s;
}
.mobile-nav input{
    position: fixed;
    top: 15px;
    left: 10px;
    width: 30px;
    height: 30px;
    z-index: 2;
    opacity: 0;
}
.mobile-nav input:checked + .hamburger .ham1{
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
}
.mobile-nav input:checked + .hamburger .ham2{
    display: none;
}
.mobile-nav input:checked + .hamburger .ham3{
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
}
.mobile-nav input:checked ~ .side-bar{
    transform: translateX(0);
}
.mobile-nav .side-bar{
    position: fixed;
    top: 60px;
    overflow-y: scroll;
    background-color: white;
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(calc(-100%));
    transition: 0.3s;
}
header .side-bar li{
    list-style: none;
}
header .side-bar .sub-head{
    margin-left: -20px;
    padding: 15px 30px 45px 0;
    display: flex;
    justify-content: space-between;
}
header .side-bar .sub.active .sub-sel{
    height: 100%;
}
header .side-bar .sub.active .sub-head .fa-caret-down{
    transform: rotate(180deg);
}
header .side-bar .sub-head .fa-caret-down{
    transition: 0.3s;
}
header .side-bar .sub-sel{
    height: 0px;
    overflow: hidden;
    /* transition: 0.5s; */
}
header .side-bar .sign-up{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px grey;
}
header .side-bar .sign-up a{
    width: 90%;
    text-align: center;
    background-color: var(--button-green);
    padding: 8px;
    border-radius: 35px;
    color: white;
}

/* Search bar page */

header .search-page{
    height: 100vh;
    width: 100%;
    display: none;
}
header .search-page .top-list{
    display: flex;
    gap: 25px;
    margin: 10px 20px;
    border-bottom: 2px solid #d9e3d9;
}
header .search-page .top-list p{
    padding-bottom: 5px;
    margin-bottom: -2px;
    /* border-bottom: 3px solid #22e222; */
}

/* Header Intro */

header .intro{
    padding: 60px 15px 0;
}
header .intro h2{
    font-size: 3.5rem;
    color: var(--letter-green);
    margin-top: 15px;
    margin-bottom: -10px;
}
header .intro p{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--letter-dark);
    margin-bottom: 45px;
}
header .intro a{
    font-size: 1.1rem;
    background-color: var(--button-green);
    padding: 10px 20px;
    border-radius: 25px;
    color: var(--letter-white);
}
header .trusted-by{
    margin-top: 20px;
    padding: 15px;
}
header .trusted-by p{
    color: var(--letter-light);
}
header .trusted-by .other-logos{
    display: flex;
    gap: 25px;
}
/* Section 1 */
.section1{
    padding:0 15px;
}
.sec1-header h2{
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-family: 'Cardo', serif;
    font-weight: 100;
}
.sec1-body{
    padding-bottom: 30px;
}
.sec1-body .sec1-list{
    display: flex;
    align-items: baseline;
    gap: 15px;
}
.sec1-body p{
    font-size: 1.4em;
    margin: 10px 0;
}
.sec1-body span{
    display: block;
}
.sec1-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sec1-buttons .sign-up{
    display: none;
}
.sec1-buttons .hire{
    display: block;
    width: 95%;
    padding: 5px;
    text-decoration: none;
    color: var(--button-green);
    border-radius: 30px;
    border: 2px solid var(--button-green);
    text-align: center;
}
/* Section 2 */
.section2{
    padding: 20px 15px;
}
.section2 .sec2-header h2{
    font-family: 'Cardo', serif;
    font-size: 2.3rem;
    font-weight: 100;
}
.section2 .sec2-header p{
    color: var(--letter-dark);
}
.section2 .sec2-header a{
    color: var(--button-green);
    text-decoration: underline;
}
.section2 .sec2-body{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.section2 .sec2-body .sec2-list{
    width: 100%;
    background-color: var(--card-light);
    padding: 0 20px;
    border-radius: 7px;
}
.section2 .sec2-body .sec2-listSpan{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: -15px;
}
.section2 .sec2-body .sec2-listSpan p{
    color: var(--letter-dark);
}
.section2 .sec2-body .sec2-listSpan i{
    color: var(--letter-green);
    font-size: 0.9em;
}
.section2 .sec2-body .show-more{
    text-decoration: underline;
    color: var(--letter-green);
}
/* Section 3 */
.section3{
    background-color: #13544e;
    padding: 25px 15px;
}
.section3 > div{
    color: white;
}
.section3 > div h2 span{
    color: var(--letter-greenLight);
    display: block;
}
.section3 > div ul{
    margin-left: -35px;
}
.section3 > div li{
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 15px;
    padding-bottom: 10px;
}
.section3 > div li i{
    color: var(--letter-greenLight);
}
.section3 > div a{
    background-color: var(--letter-white);
    color: #13544e;
    padding: 10px 25px;
    border-radius: 25px;
}
/* Section 4 */
.section4{
    width: 100%;
    padding: 25px 15px;
}
.section4 .header h2{
    margin-top: 70px;
}
.section4 .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.section4 .cards .card{
    width: 100%;
    background-color: var(--button-green);
    border-radius: 8px;
    padding: 15px;
    color: var(--letter-white);
}
.section4 .cards .card .top{

}
.section4 .cards .card .sub{
    text-align: end;
}
/* Section 5 */
.section5{
    padding: 10px 15px 50px;
}
.section5 h2{
    font-size: ;
}
.section5 body p{

}
.section5 .body .content{
    display: flex;
    align-items: baseline;
    gap: 15px;
}
.section5 body .content i{
}
/* Section 6 */
.section6{
    font-family: ;
}
.section6 > div > p{
    font-size: 2.3rem;
}
.section6 > div:nth-child(1){
    padding: 25px 15px 70px;
    background-color: var(--letter-green);
    color: var(--letter-white);
}
.section6 .body{
    display: flex;
    align-items: baseline;
    gap: 15px;
}
.section6 .body p{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.section6 .body span{
    display: block;
    width: 55%;
}
.section6 > div:nth-child(2){
    padding: 30px 15px;
}
.section6 > div:nth-child(2) h2{
    padding-bottom: 25px;
}
.section6 > div:nth-child(2) a{
    padding: 10px 35px;
    background-color: var(--button-green);
    border-radius: 25px;
    color:var(--letter-white);
}
/* Sectio 7 */
.section7 .main{
    width: 100%;
    padding: 2px 15px 25px;
    background-color: #1f57c3;
    color: var(--letter-white);
}
.section7 .main h2{
    font-size: 2.5rem;
}
.section7 .main > div:nth-child(1){
    padding-bottom: 70px;
    border-bottom: 3px solid #648aca;
}
.section7 .main > div:nth-child(2){
    padding: 15px 0;
}
.section7 .main > div:nth-child(2) div{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 35px;
}
.section7 .main > div:nth-child(2) span{
    width: 45%;
}
.section7 .main > div:nth-child(2) a{
    padding: 8px 25px;
    background-color: var(--letter-white);
    color: #1f57c3;
    border-radius: 25px;
    text-decoration: none;
}
/* Section 8 */
.section8{
   padding: 35px 15px; 
   /* overflow-x: hidden; */
}
.section8 h2{
    font-size: 3rem;
}
.section8 .carousels{
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    /* scroll-snap-align: start;
    scroll-behavior: smooth; */
}
.section8 .carousels::-webkit-scrollbar{
    display: none;
}
.section8 .carousels .common{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 260px;
    height: 510px;
    border-radius: 10px;
    padding: 15px;
    color: var(--letter-white);
}
.section8 .carousels .common .logo{
    display: flex;
    justify-content: center;
    /* max-height: 25px; */
}
.section8 .carousels .common img{
    width: 50%;
}
.section8 .carousels .common .quote{
    font-family: 'Cardo', serif;
    font-size: 1.4rem;
}
.section8 .carousels .common .name{
    color: #d4dfd4;
    font-weight: 600;
    margin-top: -10px;
}
.section8 .carousels .common .results{
    color: #d4dfd4;
    font-weight: 600;
    margin-top: 2.5rem;
    padding-bottom: 10px;
}
.section8 .carousels .common .bold1{
    margin-top: -5px;
    font-size: 1.5rem;
    font-weight: 500;
}
.section8 .carousels .common .grey1{
    color: #d4dfd4;
    font-weight: 600;
    margin-top: -10px;
}
.section8 .carousels .common .bold2{
    margin-top: -5px;
    font-size: 1.5rem;
    font-weight: 500;
}
.section8 .carousels .common .grey{
    color: #d4dfd4;
    font-weight: 600;
    margin-top: -10px;
}
.section8 .carousels .card1{
    background-color: #13544e;
}
.section8 .carousels .card1 .results{
    border-bottom: #83aea6 2px solid;
}
.section8 .carousels .card2{
    background-color: #bc511b;
}
.section8 .carousels .card2 .results{
    border-bottom: #c99d7e 2px solid;
}
.section8 .carousels .card3{
    background-color: #001e00;
    align-items: center;
    justify-content: space-around;
}
.section8 .carousels .card3 div{
    width: 100%;
}
.section8 .carousels .card3 p{
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}
.section8 .support-ukraine{
    background-color: #f7faf7;
    border-radius: 25px;
    padding:1px 25px 35px 25px;
}
.section8 .support-ukraine h2{
    width: 100%;
}
.section8 .support-ukraine a{
    padding: 7px 25px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid var(--button-green);
    color: var(--button-green);
}
/* Section 9 */
.section9{
    padding: 25px 15px;
}
.section9 .overflow{
    display: flex;
    gap: 15px;
    overflow: auto;

}
.section9 .overflow::-webkit-scrollbar{
    display: none;
}
.section9 .overflow div{
    flex-shrink: 0;
    font-size: 1.5rem;
    color: var(--letter-light);
}
.section9 .content{
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    margin-top: 25px;
    font-size: 1.03rem;
}
.section9 .content .content1{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.section9 .content .content2{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.section9 .content a{
    color: #5e6d7b;
}
/* Footer */
footer{
    margin: 15px;
    padding: 15px;
    background-color: #001e00;
    border-radius: 8px;
    color: white;
}
footer .accordion .top{
    padding: 20px 15px 20px 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
}
footer .accordion .top i{
    font-size: 1.3rem;
}
footer .accordion .top .fa-caret-down{
    transition: 0.3s;
}
footer .accordion .body{
    height: 0;
    overflow: hidden;
}
footer .accordion .body a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}
footer .sideBar-accordion.active .body{
    height: 100%;
    padding: 10px 0 25px 15px;
}
footer .sideBar-accordion.active .fa-caret-down{
    transform: rotate(180deg);
}
footer .sideBar-accordion.active .top{
    border: none;
}
footer .socials-app{
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 0.9rem;
}
footer .socials-app .socials{
    padding: 25px 0;
}
footer .socials-app .app{
    padding-bottom: 25px;
    
}
footer .socials-app .icons{
    display: flex;
    gap: 10px;
}
footer .socials-app .icons i{
    font-size: 1.5rem;
    /* padding: 10px; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
}
footer .footer-menu{
    display: flex;
    flex-wrap: wrap;
}
footer .footer-menu .menu{
    display: flex;
    flex-direction: column;
}